* {
	box-sizing: border-box;
}

/*
font-family: 'Aboreto', cursive;
font-family: 'Nanum Gothic', sans-serif;
*/

body {
	width: 100vw;
	height: 100vh;
	background: #3d1751;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Nanum Gothic", sans-serif;
}

.game {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #592155;
	width: 900px;
	min-height: 100px;
	border-radius: 7px;
	padding: 2em 2em 0 2em;
}

.title {
	font-family: "Aboreto", cursive;
	color: #fafafa;
	font-size: 30px;
	padding: 20px 10px 15px 10px;
	margin: 0;
}

.separator {
	width: 290px;
	height: 3px;
	background: #ef5c5d;
}

.image {
	height: 250px;
	margin: 40px;
}

.text {
	color: #fafafa;
	font-size: 20px;
	font-weight: 500;
	padding: 0 25px 0 35px;
	text-align: center;
}

.btnpanel {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	align-items: center;
	margin: 25px;
	flex-wrap: wrap;
}

button {
	color: #fafafa;
	background-color: #592155;
	font-size: 25px;
	border: 3px solid #ef5c5d;
	border-radius: 20px;
	padding: 15px 40px;
	margin: 0 15px 30px 15px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #ef5c5d;
}

button:active {
	background-color: #fafafa;
	color: #ef5c5d;
}

@keyframes flash {
	0% {
		background-color: #592155;
	}
	100% {
		background-color: #ef5c5d;
	}
}

button.action {
	animation: flash 1.5s infinite alternate;
}

button.action::before {
    background-size: 23px 23px;
	background-repeat: no-repeat;
    display: inline-block;
    width: 23px; 
    height: 23px;
    content:"";
	padding-right: 10px;
}

button.rope::before {
	    background-image: url('images/icons/rope.png');
}

button.lockpick::before {
	    background-image: url('images/icons/lockpicking.png');
}

button.bomb::before {
	    background-image: url('images/icons/bomb.png');
}

button.spray::before {
	    background-image: url('images/icons/spray.png');
}

.footer {
	display: flex;
	width: 900px;
	bottom: 0;
	justify-content: space-between;
	background-color: #363636;
	color: #fafafa;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 20px;
	font-weight: 500;
	border-radius: 0 0 7px 7px;
	padding-left: 1em;
	padding-right: 1em;
}

.footer * {
	padding: 0.5em 1em;
}

.footer *:hover, .artclose:hover, .endclose:hover {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;

}

.menu{
	position: absolute;
	background: #363636;
	width: 900px;
	bottom: 83px;
	color: #fafafa;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	padding-top:75px;
}

.artclose, .endclose{
	position: absolute;
	width: 45px;
	top:25px;
	right: 40px;
	padding: 10px;
}

.artlist, .endlist {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.artelement {
	background: #363636;
	border:#ef5c5d 3px solid;
	width: 200px;
	height: 200px;
	margin: 30px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 15px;
	transition: background-color 0.3s;
}

.endelement {
	background: #363636;
	border:#ef5c5d 3px solid;
	width: 75px;
	height: 75px;
	margin: 30px;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.artelement:hover, .endelement:hover {
	background: #ef5c5d;
}

.iconart {
	width: 100%;
}

.mystere {
	font-size: 150px;
	font-weight: 600;
}

.endmystere, .endnumber {
	font-size: 45px;
	font-weight: 600;
}

.endnumber {
	display:none;
}

.hide {
	display:none;
}

.unlocked {
	background: #592155;
	border:none;
}
